KERNEL=="video*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="636d", KERNELS=="1-2.1", SYMLINK+="videox"

KERNEL=="video*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="636d", KERNELS=="1-2.3", SYMLINK+="videoy"
