KERNEL=="video*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="2894", ATTRS{idProduct}=="0004", KERNELS=="1-2.1", SYMLINK+="videofront"

KERNEL=="video*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="2894", ATTRS{idProduct}=="0004", KERNELS=="1-2.3", SYMLINK+="videoback"
